
#contenido {
    padding-top: 100px;
}

.texto-centrado {
    text-align: center;
}

.texto-izquierda {
    text-align: left;
}

.texto-derecha {
    text-align: right;
}

.table-scroll {
    height: 400px;
    overflow: scroll;
}

.imagen-publicacion {
    width: 100%;
    max-height: 150px;
}

#galeria-modal {
    margin: 50px auto 0 auto;
    max-height: 90%;
}

img#imagen-modal {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

#seccion-comentarios {
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#add-image{
    margin-left: 40%;
}

.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}

.thumbnail {
    height: 220px;
    max-height: 220px;
}

.thumbnail img {
    height: 100px;
    max-height: 100px;
}

.overflowable {
    overflow-x: scroll;
}









